
<div class="col s9 m12"></div>
<div class="container"> 

  <div class="row" *ngIf="router.url === '/dashboard'&&!this.authService.isLoggedIn()">

      <div class="col s9 m12"> 
       <h4>Тут може бути твоя реклама</h4>
        <div class="carousel">
          <a class="carousel-item" href="#"><img src="http://angular.propan.top/backend/img_carusel/1164906.jpg"></a>
          <a class="carousel-item" href="#"><img src="http://angular.propan.top/backend/img_carusel/12298.jpg"></a>
          <a class="carousel-item" href="#"><img src="http://angular.propan.top/backend/img_carusel/13243.jpg"></a>
          <a class="carousel-item" href="#"><img src="http://angular.propan.top/backend/img_carusel/45678.jpg"></a>
        </div>
</div>

</div></div>