<!-- login.component.html -->
<div class="container" style="display: flex;justify-content: center;align-items: center;height: 100vh;">
    <div style="width: 50%;">
    
        <h5>Форма входу</h5>
        
     

          <form class="col s12" (ngSubmit)="login()" #form="ngForm">
            <div class="input-field col s12">             
              <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Enter email" [(ngModel)]="model.email" required />
            </div>

            <div class="input-field col s12">             
              <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Enter Password" [(ngModel)]="model.password" required />
            </div>
            <button  class="btn btn-primary" [disabled]="submitted || !form.valid">Увійти</button>
          </form>
     
    </div>
  </div>