<!-- dashboard.component.html -->
<div class="container">
<div class="row">
  <div class="col s12 m12">
        <h5 class="card-title">Кабінет користувача
           <button type="button"
           class="float-right btn btn-outline-danger btn-sm grow" (click)="logout()">Вийти</button></h5>
        <h4>Перелік виставлених вами лотів</h4>
             
          <table border='1' width='100%' style='border-collapse: collapse;'>
            <tr>
              <th>№</th>
              <th>Заголовок</th>
              <th>Опис</th>
              <th>Ціна</th>
              <th>Валюта</th>
              <th>видалити/редагувати</th>
        
            </tr>      
            <tr *ngFor="let policy of policies">
              <td>{{ policy.id }}</td>
              <td>{{ policy.title }}</td>
              <td>{{ policy.post }}</td>
              <td>{{ policy.price }}</td>
              <td>{{ policy.currency }}</td>
              <td>
                <button class="float-right btn btn-outline-danger btn-sm deep-orange accent-4 grow" (click)="deletePolicy(policy.id)">
                  <i class="material-icons center">delete</i></button>
                <button class="float-right btn btn-outline-info btn-sm green accent-1 grow" (click)="selectPolicy(policy)">
                  <i class="material-icons center">create</i></button>
              </td>
            </tr>
          </table>
          <br>
         </div> 
        </div> 
        <h4>Форма подачі та зміни лоту</h4>  

 <div class="row">  
   
  <div class="col s12 m12 ">
  <form #formpost = "ngForm">
    <label>Заголовок</label>
    <input type="text" name="title" [(ngModel)] = "selectedPolicy.title">
    <br>
    <label>Опис лоту</label>
    <input type="text" name="post" [(ngModel)] = "selectedPolicy.post">
    <br>
    <label>Ціна</label>
    <input type="text" name="price" [(ngModel)] = "selectedPolicy.price">
    <br>
    <label>Валюта</label>
    
    <input type="text" name="currency" [(ngModel)] = "selectedPolicy.currency">
   
    <br>
    <input class="waves-effect waves-light btn-large  red darken-1" type="button" (click)="createOrUpdatePolicy(formpost)" value="Створити/редагувати">
  </form>
</div>

</div>
