<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">{{title}}</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

      <li><a (click)="rout()">Головна</a></li>    
      <li *ngIf="!this.authService.isLoggedIn()"> <a routerLink="/login">Увійти</a> </li>
      <li *ngIf="this.authService.isLoggedInType()==='visitor'"> <a routerLink="/user-dashboard">Кабінет</a> </li>
      <li *ngIf="this.authService.isLoggedInType()==='admin'"> <a routerLink="/admin-dashboard">Адмін Кабінет</a> </li>
      <li *ngIf="this.authService.isLoggedIn()"> <a (click)="logout()">Вийти</a> </li>
      
    </ul>

  </div>
</nav>
<ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        
      </div>
    
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
   
  </ul>

  <p>
 
  <a href="#" data-target="slide-out" class="sidenav-trigger btn-floating btn-large waves-effect waves-light red"><i class="material-icons">menu</i></a></p>
  <app-carusel></app-carusel> 
<router-outlet></router-outlet>
