
 
 <div class="collection">
 
   
<div class="col s9 m12"></div>
<div class="container"> 
  <h4> сортувати по ціні:
   <button class="waves-effect waves-light btn-small purple accent-1 grow" (click)="sortLowering(policies)"><i class="material-icons">arrow_drop_up</i></button> 
   <button class="waves-effect waves-light btn-small purple accent-2 grow" (click)="sortIncrease(policies)"><i class="material-icons">arrow_drop_down</i></button> 
   Температура: {{modelWeather.main.temp}}&#176;C
  </h4>

  <div class="row "  *ngFor="let policy of policies ; let i=index">
      <div>
      <h6 class="header"><p>{{ policy.title }}</p></h6>
         <div class="card horizontal grow">  
          <div class="card-image">
          <!--  <img src="https://lorempixel.com/100/190/nature/{{i}}">-->
          <img src="http://angular.propan.top/backend/img/{{policy.filename}}">
          </div>   
            <div class="card-stacked">
                  <div class="card-content">

                    <p>{{ policy.post }}</p>
                 
                  </div>  
                <div class="card-action">
                   <div class="chip">
                     ціна: {{ policy.price }} {{ policy.currency}}
                  </div>
                  <div class="chip">
                    ставок: 0
                   </div>
                <a class="waves-effect waves-light btn-small  red lighten-4">
                  <i class="material-icons left">local_atm</i>
                  ставка</a>
                </div>                
              </div>
    </div>
   </div>
  </div>
</div>
